@using NGravatar.Html
@using Orchard.Security

@{
    IUser user = (IUser)Model.ContentPart.Owner;
    var gravatarUrl = Url.Gravatar(string.IsNullOrWhiteSpace(user.Email) ? "dummy@foobar.com" : user.Email, 50);
}

<span class="author">
    @if (!string.IsNullOrWhiteSpace(gravatarUrl)) {
        <img src="@gravatarUrl" alt="@user.UserName" title="@user.UserName" class="avatar"/>
    }
    <span class="author-name">@user.UserName</span>
</span>
<span class="published"><a href="#">@Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc)</a></span>