@using NGM.Forum
@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@{
    int contentId = Model.ContentId;

    Script.Require("jQuery");
    if (AuthorizedFor(Permissions.ReplyPost)) {
        Script.Include("quickreply.js");
        Script.Include("quickreply-markdown.js");
        Script.Include("to-markdown/to-markdown.js");
    }
}

<div id="quick-reply" class="closed">
    <div class="inner-quick-reply">
        <h3>@T("Quick Reply")</h3>
        <a href="#" class="close" title="@T("Close")"><img src="@Url.Content("~/Themes/Forum/Content/images/icons/0145.png")" alt="@T("Close")"/></a>

        @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Post", new { contentId = contentId }))) {
            @Html.ValidationSummary()
            // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
            @Display(Model.ContentEditor)
        }
    </div>
</div>