@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}

<a href="@Url.PostReplyWithQuote(postPart)" class="create quote" title="@T("Reply with Quote")"><img src="@Url.Content("~/Themes/Forum/Content/images/icons/0372.png")" alt="@T("Reply with Quote")"/></a>
<a href="@Url.PostReply(postPart)" class="create" title="@T("Reply")"><img src="@Url.Content("~/Themes/Forum/Content/images/icons/0032.png")" alt="@T("Reply")"/></a>

@if (Authorizer.Authorize(Permissions.DeletePost, postPart.ContentItem) && !postPart.IsParentThread()) {
    <a href="@Url.PostDelete(postPart)" class="remove" title="@T("Delete")"><img src="@Url.Content("~/Themes/Forum/Content/images/icons/0420.png")" alt="@T("Delete")"/></a>
}