@using NGM.Forum
@using System.Web.Mvc.Html
@using Orchard.Mvc.Html
@{
    Script.Require("jQuery");
    if (AuthorizedFor(Permissions.ReplyPost)) {
        Script.Include("quickreply.js");
        Script.Include("quickreply-markdown.js");
        Script.Include("to-markdown/to-markdown.js");
    }
}

<div id="quick-reply" class="closed">
    <div class="inner-quick-reply invisible">
        <h3>@T("Reply")</h3>
        <a href="#" class="close" title="@T("Close")"><img src="@Url.Content("~/Themes/Forum/Content/images/icons/0145.png")" alt="@T("Close")"/></a>

        @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Post"))) {
            @Html.ValidationSummary()

            @Display(Model.ContentEditor)

            <input type="hidden" id="contentid" name="contentid" value="@Model.ContentId"/>
        }
    </div>
</div>